html{
	background-color:rgb(5, 4, 30);
}
body{
	padding: 15px;
	margin: 0 auto;
	width: 60%;
	background-color: rgb(5, 4, 30);
	position: center;
	color: rgb(147, 134, 93);
	text-align: justify;
	font-size: 18;
	
}


	A:visited {
 		color: #894848; /* Цвет посещенных ссылок */
	}
	A:active {
 		color: #8d6d47; /* Цвет активных ссылок */
	}

h1{
	text-align: center;
	background-image: radial-gradient(ellipse, #eeddb1, rgb(60, 49, 7));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
H2{
	text-align: center;
}
H3{
	text-align: left;
}
H4{
    background-image: radial-gradient(ellipse, #efd699, rgb(79, 69, 30));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 30;
    text-align: center;
}
H5{
    background-image: radial-gradient(ellipse, rgb(147, 134, 93), #efd699);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 30;
    text-align: center;
}
.codeHeader{
	color: yellow;
}
.codeBody{
	color: yellow;
	font-family: Courier New;
	text-align: left;
	margin-bottom: 10px;
}